html, body {
  font-family: 'Roboto, Arial, Helvetica, sans-serif', sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', cursive;
  margin-bottom: 1rem;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;

  padding-right: 1.5rem;
  list-style: none;
}

nav ul li {
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #333333;
}

nav ul li a:hover {
  background: -webkit-linear-gradient(135deg, #3F2DC8, #6247AA, #E38C8F);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 100%;
  margin-left: auto;
  position: relative;
}

.first-landing {
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  vertical-align: bottom;

  background-image: -webkit-linear-gradient(135deg, #DF7C7F, #EFBEBF, #F7DEDF);
}

.general {
  text-align: center;
}

.app-section {
  background-color: #fbfafa;
  min-height: 100vh;
  border-top: 0;
  padding: 0rem 2rem 1rem 4rem;
}

.app-section p {
  padding-top: 1rem;
  font-size: 1.2rem;
}

.app-contact {
  background-image: -webkit-linear-gradient(90deg, #F7DEDF, #FFFFFF);
  padding: 0rem 2rem 1rem 4rem;
  height: 50vh;
}

.last-section {
  background-image: -webkit-linear-gradient(90deg, #FFFFFF, #FBFAFA);
}

footer {
  background: #dddee1;
  padding: 1vh 0;
  text-align: center;
  position: relative;
  opacity: .5;
  font-weight: 300;
}

footer p span {
  color: #88292f;
}

div.arrow-top {
	width: 4vmin;
	height: 4vmin;
	box-sizing: border-box;
	position: absolute;
	right: 10%;
	bottom: 15%;
	transform: rotate(-45deg);
}

div.arrow-top::before {
  content: '';
  width: 100%;
  height: 100%;
  border-width: .8vmin .8vmin 0 0;
  border-style: solid;
  border-color: #333333;
  transition: .2s ease;
  display: block;
  transform-origin: 100% 0;
}
	
div.arrow-top:after {
  content: '';
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 .9vmin 0 0;
  border-style: solid;
  border-color: #333333;
  transform-origin: 100% 0;
  transition:.2s ease;
}
	
div.arrow-top:hover::after {
  transform: rotate(45deg);
  border-color: #DF7C7F;
  height: 120%;
}

div.arrow-top:hover::before {
  border-color: #DF7C7F;
  transform: scale(.9);
}

#myBtn {
  position: fixed;
}

@media screen and (min-width: 1024px) {
  nav ul {
    padding-right: 4rem;
  }

  .app-section {
    padding: 1rem 10rem 0 10rem;
  }

  .app-contact {
    padding: 2rem 10rem 0 10rem;
  }

  div.arrow-top {
    right: 5%;
    bottom: 15%;
  }
  
}
