:root {
  --color-white: #ffffff;
  --color-white-light: #fbfafa;
  --color-pink: pink;
  --color-pink-light: #f7dedf;
  --color-pink-medium: #efbebf;
  --color-pink-dark: #df7c7f;
  --color-red-transparent: #c3002f0d;
  --color-red-dark: rgb(153 2 54);
  --color-gray-light: #cccccc;
  --color-gray-medium: #696969;
  --color-sepia: #333333;
}

html, body {
  font-family: "Roboto, Arial, Helvetica, sans-serif", sans-serif;
  color: var(--color-sepia);

  -webkit-font-smoothing: antialiased;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow-x: hidden;
}

p, a {
  font-size: 1.1rem;

  line-height: 1.6;
  letter-spacing: 0.3px;

  text-decoration: none;
  color: var(--color-sepia);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Ubuntu", cursive;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

.container {
  width: 100%;
  margin-left: auto;
  position: relative;
}

#first-landing {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  vertical-align: bottom;

  background-image: -webkit-linear-gradient(135deg, var(--color-pink-dark), var(--color-pink-medium), var(--color-pink-light));
}

.logo {
  text-decoration: none;
}

.img-logo {
  position: absolute;
  top: 1.6rem;
  left: 2rem;
  width: 3rem;
}

.general {
  text-align: center;
}

.img-profile {
  width: 14rem;
}

.app-section {
  background-color: var(--color-white-light);
  min-height: 100vh;
  border-top: 0;
  padding: 3rem;
}

.btn {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-light);
  border-radius: 1rem;
  color: var(--color-gray-medium);
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--purple {
  font-size: 1.1rem;

  background-color: transparent;
  border: 2px solid var(--color-red-dark);
  color: var(--color-red-dark) !important;
  cursor: pointer;

  border-radius: 5px;

  padding: 0.5rem;
}

.btn--purple:hover {
  background: #c3002f0d;
}

.container-about {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.img-fluid {
  width: 100%;
}

.container-grid {
  display: grid;
  grid-column-gap: 3.8rem;
  grid-row-gap: 3rem;
  margin-top: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
  background-color: var(--color-white);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
}

.card-image:hover {
  filter: contrast(100%);
}

.card-image::before {
  content: "";
  display: block;
  padding-top: 66.6%;
}

.card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card-title {
  color: var(--color-sepia);
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 1rem;
}

.card-subtitle {
  margin-bottom: 1rem;
  padding: 0;
  font-size: 1rem !important;
}

.card-text {
  flex: 1 1 auto;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.card-image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card-image--portifolio {
  background-image: url("../../img/portifolio.PNG");
}

.card-image--mundopet {
  background-image: url("../../img/mundopet.PNG");
}

.card-image--happy {
  background-image: url("../../img/happy.PNG");
}

.card-image--amordepet {
  background-image: url("../../img/amordepet.PNG");
}

.card-image--empresajr {
  background-image: url("../../img/empresajr.PNG");
}

.app-contact {
  background-image: -webkit-linear-gradient(90deg, var(--color-pink-light), var(--color-white));
  padding-right: 3rem;
  padding-left: 4rem;
  height: 50vh;

  margin-top: 2rem;
}

.app-contact--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-contact--button {
  font-size: 1.5rem;
  padding: 1rem;
}

.app-contact--button a {
  text-decoration: none;
  color: var(--color-red-dark) !important;
}

.app-contact p {
  line-height: 1.6;
  letter-spacing: 0.3px;
}

.last-section {
  background-image: -webkit-linear-gradient(90deg, var(--color-white), var(--color-white-light));
}

footer {
  background: #dddee1;
  padding: 1vh 0;
  text-align: center;
  position: relative;
  opacity: 0.5;
  font-weight: 300;
}

footer p span {
  color: #88292f;
}

@media only screen and (min-width: 1024px) {
  nav ul {
    padding-right: 4rem;
  }
  
  .img-logo {
    position: absolute;
    top: 0.8rem;
    left: 4rem;
  
    width: 3rem;
  }

  .app-section {
    padding: 1rem 10rem 0 10rem;
  }

  .app-contact {
    padding: 2rem 10rem 0 10rem;
  }

  .cards {
    width: 30%;
  }

  .card-image::before {
    padding-top: 56.25%;
  }

  .container-about {
    grid-template-columns: 44rem 0;
  }

  .img-fluid {
    width: 24rem;
  }

  .container-about--right {
    margin-left: 2rem;
  }
}
