html, body {
  font-family: 'Roboto, Arial, Helvetica, sans-serif', sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', cursive;
  margin-bottom: 1rem;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;

  padding-right: 3.5rem;
  padding-left: 0;
  list-style: none;
}

nav ul li {
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #333333;
}

nav ul li a:hover {
  background: -webkit-linear-gradient(135deg, #3F2DC8, #6247AA, #E38C8F);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 100%;
  margin-left: auto;
  position: relative;
}

.first-landing {
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  vertical-align: bottom;

  background-image: -webkit-linear-gradient(135deg, #E5989B, #EFBEBF, #F7DEDF);
}

.general {
  text-align: center;
}

.app-section {
  background-color: #fbfafa;
  min-height: 100vh;
  border-top: 0;
  padding: 0rem 2rem 1rem 5rem;
}

.app-section p {
  padding-top: 1rem;
  font-size: 1.2rem;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

@media screen and (min-width: 1024px) {
  .app-section {
    padding: 1rem 10rem 0 10rem;
  }

  nav ul {
    padding-right: 4rem;
  }
  
}
